<div class="row">
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
      <h1>{{ cancion.name }}</h1>
    </div>
  </div>

  <div style="margin-bottom: 50px" class="row">
    <div class="col-xs-12">
      <h4>Artista</h4>
      {{ cancion.artist }}
    </div>
  </div>
  <hr />
  <div style="margin-bottom: 50px" class="row">
    <div class="col-xs-12">
      <h4>Albúm</h4>
      {{ cancion.album }}
    </div>
  </div>
  <hr />
  <div style="margin-bottom: 50px" class="row">
    <div class="col-xs-12">
      <h4>URL</h4>
      {{ cancion.url }}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h4>Lyrics</h4>
      {{ cancion.lyrics }}
    </div>
  </div>
  <div style="margin-top: 50px" class="row">
    <div style="justify-content: flex-end" class="col-xs-12">
      <button class="btn btn-success" (click)="onEditSong()">
        Editar Canción
      </button>
      <button
        style="margin-left: 100px"
        class="btn btn-danger"
        (click)="onDeleteSong()"
      >
        Eliminar Canción
      </button>
    </div>
  </div>

  <hr />
</div>
