<h2
style="padding-top: 20px;"
>Login Cliente</h2>
<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)"> 
    <div class="form-group">
        <label for="username">Username</label>
        <input 
        style="width: 500px"
        type="text" 
        id="username"
        class="form-control"
        ngModel
        name="username"
        
        >
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        style="width: 500px"
        type="password" 
        id="password"
        class="form-control"
        ngModel
        name="password"
        
        minlength="6">
    </div>
    <div class="form-group">
        <button style="margin-top: 20px;"  class="btn btn-primary">
            Login
        </button>
        <a style="margin-top: 15px;" routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>
